
$clr-blue: #4155b2;
$clr-red: #ec5554;
$clr-green: #30a499;
$clr-yellow: #f9bf41;
$clr-light-blue: #2d98f0;
$clr-pink: #a84db8;



.tc-blue {
    color: $clr-blue;
}

.tc-red {
    color: $clr-red;
}

.tc-green {
    color: $clr-green;
}

.tc-yellow {
    color: $clr-yellow;
}

.tc-light-blue {
    color: $clr-light-blue;
}

.tc-pink {
    color: $clr-pink;
}

