section {
    color: 'red';
    margin: 8rem 3rem;

    h5 {
        font-size: .8rem;
        text-transform: uppercase;
        color: gray;
    }

    h2 {
        color: #007bff;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

}
