
.nav {
    list-style: none;
    
}

.nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li{
    margin-bottom: .5rem;
}

.active {
    text-decoration: underline !important;
    color: red;
}